@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
    --blue: #0e0620;
    --white: #fff;
    --green: #41228e;
}
button {
    font-family: "Nunito Sans";
}
.container {
    margin-top: 120px;
}
h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
}
h2 {
    font-weight: bold;
}
.btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    &.green {
        border: 4px solid #41228e;
        color: #41228e;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background: #41228e;
            z-index: -1;
            transition: 0.2s ease;
        }
        &:hover {
            color: var(--white);
            background: #41228e;
            transition: 0.2s ease;
            &:before {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    body {
        display: block;
    }
    .container {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}
